@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
a {color:inherit; text-decoration: none; }
ol, ul {list-style-type: none;}
table {width: 100%; border-collapse:collapse; table-layout: fixed;}
.cf:after, .cf:before {content: ""; display: block; clear: both;}
header, section {display: block;}

body {width: 100%; height: 100%; position: fixed; background: #111; color:#bbb;}
.vid {position: fixed; width: 100%; height: 100%; top:0; left:0; background: #f00;}
.vid video {min-width: 100%; min-height: 100%; 
    position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); }

header {position: fixed; width: 700px; height: 100%; background: #b9fb05; transform: skew(-40deg); left: -420px;}
h1 {position: absolute; top:40px; right: 150px; 
    transform: skew(40deg);}
h1 img {width: 280px;}

#gnb {position: absolute; top:220px; right: 0px; width: 220px; }
#gnb em {transform: skew(40deg); display: block; 
    font-style: normal;}
/* 트랜스폼 속성은 block 요소에만 적용됨 */
.depth1 > li {height: 50px; line-height: 50px; color:#222; text-align: left; font-size: 18px; transition: all 0.4s; position: relative;}
.depth1 > li.on {background: #111; color: #fff;}
.depth1 > li:hover {background: #111; color: #fff;}
.depth1 > li > a {display: block; padding-left: 40px;}
.depth1 > li:hover .depth2 {display: block; opacity: 0.8;
     left: 205px;}
.depth1 > li.on .depth2 {opacity: 0.8; left: 205px; top:-10px;}

.depth2 {position: absolute; left: 0px; top:0; width: 180px; transition: all 0.5s; opacity: 0;}
.depth2 > li {height: 40px; background: #222; border-bottom: 1px solid #b9fb05; line-height: 40px; font-size: 16px; color: #fff; margin-bottom: 3px; text-align: center;}
.depth2 > li > a {display: block;}
.depth2 > li:hover {background: #b9fb05; color: #111;}

